body {
      background: linear-gradient(135deg, #030d1d, #4a035f);
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
.login-card {
      background: #fff;
      border-radius: 1rem;
      box-shadow: 0 8px 20px rgba(0,0,0,0.15);
      padding: 2rem;
      width: 100%;
      max-width: 400px;
    }
.login-card h2 {
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
.btn-login {
      border-radius: 50px;
    }
.btn {
        background: #4a035f;
        color: #fff;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        
    }

.btn:hover {
        background: #ffffff;
        color: #4a035f;
        border: #4a035f solid 1px;
    }

