body {
      background: linear-gradient(135deg, #690183, #dba8eb);
      min-height: 100vh;
      display: flex;  
      align-items: center;
      justify-content: center;
      color: #4c054e;
    }


.btn{
    background-color: #690183;
}